<div class="form-wrapper">
  <form>
    <div class="form-group">
      <label for="">Name</label>
      <input type="text" class="form-input">
    </div>
    <div class="form-group">
      <label for="">Email</label>
      <input type="email" class="form-input">
    </div>
    <div class="form-group">
      <label for="">Contact Number</label>
      <input type="text" class="form-input">
    </div>
    <div class="form-group">
      <label for="">DOB</label>
      <input type="text" class="form-input">
    </div>
    <button class="btn btn-theme">Submit</button>
  </form>
</div>
